


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:aABPQcFMkU
ErrorDocument 401 /401.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE aABPQcFMkU:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ZqsHQnCCgT
ErrorDocument 403 /403.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZqsHQnCCgT:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Mkpgtmuy7I
ErrorDocument 404 /404.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Mkpgtmuy7I:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:sSq1LXjler
ErrorDocument 500 /500.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE sSq1LXjler:ERRORPAGEID

<IfModule mod_headers.c>
<FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css)$">
Header set Access-Control-Allow-Origin "*"
</FilesMatch>
</IfModule>